body {
  background-color: gainsboro;
  margin: 40px;
}

h1 {
  text-align: center;
  font-size: xx-large;
}

#profile-photo {
  max-width: 300px;
  padding: 10px;
  background-color: rgb(165, 164, 164);
}

#profile-section {
  display: flex;
  align-items: center;
}

#profile-description {
  width: 500px;
  margin: 40px;
}

.odd {
  text-decoration: underline;
}